<nav class="navbar navbar-expand fixed-top navbar-light bg-light no-print">
  <a class="navbar-brand" href="#">My工工四</a>

  <ul class="navbar-nav mr-auto">
    <ng-container *ngIf="!appService.printing">
      <li class="nav-item">
        <button class="btn btn-outline-success" (click)="newProject();">
          新規
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary" (click)="fileService.load();">
          ＰＣから読込
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-dark" (click)="openGithubDialog();">
          GitHubから読込
        </button>
      </li>
    </ng-container>
    <ng-container *ngIf="appService.printing">
      <li class="nav-item">
        <button class="btn btn-primary" (click)="print();">
          印刷
        </button>
      </li>
    </ng-container>
  </ul>

  <ul class="navbar-nav">
    <li class="nav-item">
      <div class="btn-group btn-group-sm">
        <button class="btn" [class.btn-primary]="appService.isVertical()" (click)="setVertical();">縦書</button>
        <button class="btn" [class.btn-primary]="appService.isHorizontal()" (click)="setHorizontal();">横書</button>
      </div>
    </li>
    <li class="nav-item" *ngIf="!appService.printing">
      <button class="btn btn-success" (click)="fileService.save();">
        ＰＣに保存
      </button>
    </li>
    <li class="nav-item" *ngIf="!appService.printing">
      <button class="btn btn-info" (click)="appService.printing = !appService.printing;">印刷</button>
    </li>
    <li class="nav-item" *ngIf="appService.printing">
      <button class="btn btn-outline-secondary" (click)="appService.printing = !appService.printing;">戻る</button>
    </li>
    <li class="nav-item">
      <a href="https://github.com/ponlawat-w/kunkunsi-app/wiki" title="このサイトについて" target="_blank" class="btn btn-sm btn-outline-info help-btn font-weight-bold">？</a>
    </li>
  </ul>
</nav>

<app-github-importer [emitter]="githubDialogEmitter"></app-github-importer>
