.print {
    background-color: #ededed;
}

.description {
    font-size: 1.5em;
}

.lyric {
    white-space: pre-line;
    page-break-inside: avoid;
}

@media print {
    .print {
        background-color: #ffffff;
    }
}
