<h1 *ngIf="!editing" [class.untitled]="unititled">
  <span (click)="toggleEditing();">{{editorService.title}}</span>
  <button class="btn edit-btn btn-sm btn-info no-print" (click)="toggleEditing();">編集</button>
</h1>
<div *ngIf="editing" class="no-print edit-form" [class.vertical]="appService.isVertical()">
  <form (ngSubmit)="submitTitle();">
    <input type="text" class="form-control" [(ngModel)]="newTitle" name="newTitle" placeholder="タイトルを入れてください。">
    <div class="text-right">
      <button type="button" (click)="toggleEditing();" class="btn btn-sm btn-dark">キャンセル</button>
      <button type="submit" class="btn btn-sm btn-success">編集</button>
    </div>
  </form>
</div>
