.body {
    padding: 20px 10px;
}

.body.vertical {
    writing-mode: vertical-rl;
    overflow-x: scroll;
    position: absolute;
    padding: 0;
    right: 0;
    left: 0;
    top: 65px;
    bottom: 3px;
}

p {
    font-size: 36px;
}