.block.block-note.vertical .lyric {
    height: 80px;
}

.block.block-note.vertical .note {
    width: 44px;
    height: 80px;
}

.block.block-note.vertical .note-mark {
    top: 6px;
    left: 9px;
}

.block.block-note.vertical .note-shift {
    bottom: -3px;
    right: -11px;
}

.block.block-note.vertical.block-first .note {
    border-top-width: 3px;
}

.block.block-note.vertical.block-last .note {
    border-bottom-width: 3px;
}

.block.block-note.vertical.diminutive .note,
.block.block-note.vertical.diminutive .lyric {
    height: 40px;
}

.block.block-note.vertical.diminutive.diminutive-multi .note {
    padding-right: 7px;
}

.block.block-note.vertical.diminutive.diminutive-single .note {
    top: -22px;
    left: -7px;
}

.block.block-note.vertical.diminutive.diminutive-single .note-mark {
    top: 7px;
    left: 25px;
}

.block.block-note.vertical.diminutive.diminutive-multi .note-mark {
    top: 7px;
    left: 16px;
}

.block.block-note.vertical.diminutive.diminutive-single .note-shift {
    bottom: -3px;
    right: -8px;
    font-size: 17px;
}

.block.block-note.vertical.diminutive.diminutive-single .lyric {
    top: -22px;
    /* left: 45px; */
}

.block.block-note.vertical.next-single-dim .note {
    border-bottom-color: #ededed;
    padding-bottom: 15px;
}

.block.block-note.vertical.prev-single-dim .note {
    border-top-color: #ededed;
    padding-top: 15px;
}
.block.block-note.vertical .lyric {
    border-right: 1px solid #e5e5e5;
}

.block.block-newline.empty-line.vertical {
    width: 69px;
}

.block.vertical.block-note.note-pointed .note {
    border-bottom: 4px solid #0000ff;
}

.block.vertical.block-note.first-note-pointed .note {
    background-color: rgba(0, 0, 255, 0.25);
    border-top: 4px solid #0000ff;
}

.block.vertical.block-newline.newline-pointed {
    height: 90%;
    border-right: 1px solid #0000ff;
}

.repeat.vertical.repeat-begin .img-container {
    top: 0px;
    left: 36px;
}

.repeat.vertical.repeat-end .img-container {
    top: -30px;
    left: 36px;
}

.repeat.vertical.mark-empty .img-container {
    top: 0px;
    left: -14px;
}

@-moz-document url-prefix() {
    .repeat.vertical.repeat-begin .img-container {
        left: 6px !important;
    }
    .repeat.vertical.repeat-end .img-container {
        left: 6px !important;
    }
    .block.block-note.vertical.block.block-note.vertical.diminutive.diminutive-multi .note {
        margin-left: -3px !important;
    }
}
