.block {
    position: relative;
}

.block.block-newline {
    display: table;
}

.block.block-note {
    display: inline-block;
}

.block.block-note .lyric {
    text-align: center;
    overflow: visible;
    white-space: nowrap;
}

.block.block-note .lyric.lyric-editing {
    background-color: #e5e5e5;
}

.block.block-note .note {
    position: relative;
    border: 1px solid #000000;
    text-align: center;
    font-size: 28px;
    overflow: hidden;
}

.block.block-note.diminutive .note {
    white-space: nowrap;
    font-size: 18px;
}

.block.block-note.diminutive .lyric {
    font-size: 14px;
}

.block.block-note.diminutive.diminutive-single {
    position: relative;
    height: 0;
    z-index: 100;
}

.block.block-note.diminutive.diminutive-single .lyric {
    border: none;
    position: absolute;
}

.block.block-note.diminutive.diminutive-single .note {
    position: absolute;
}

.block.block-note.next-single-dim .note, .block.block-note.prev-single-dim .note {
    font-size: 24px;
}

.block.block-note.diminutive.diminutive-single.diminutive-single-pointed .note {
    background-color: rgba(0, 0, 255, 0.25);
}

.block.block-note.diminutive.diminutive-single * {
    border: none;
}

.block.block-note .note-mark {
    position: absolute;
}

.block.block-note .note-shift {
    position: absolute;
    font-size: 24px;
}

.repeat {
    display: inline-block;
    position: relative;
    padding: 0;
    z-index: -1;
}

.repeat .img-container {
    position: absolute;
}

.repeat.mark-pointed img {
    border: 1px solid #0000ff;
}
