.block.block-note.horizontal .lyric {
    width: 80px;
}

.block.block-note.horizontal .note {
    width: 80px;
    height: 44px;
}

.block.block-note.horizontal .note-mark {
    top: -5px;
    right: 6px;
}

.block.block-note.horizontal .note-shift {
    bottom: -7px;
    right: 2px;
}

.block.block-note.horizontal.diminutive .note,
.block.block-note.horizontal.diminutive .lyric {
    width: 40px;
}

.block.block-note.horizontal.block-first .note {
    border-left-width: 3px;
}

.block.block-note.horizontal.block-last .note {
    border-right-width: 3px;
}

.block.block-note.horizontal.diminutive.diminutive-multi .note {
    padding-top: 7px;
    width: 40px;
}

.block.block-note.horizontal.diminutive.diminutive-single .note {
    top: -27px;
    left: -20px;
}

.block.block-note.horizontal.diminutive.diminutive-single .note-mark {
    top: -6px;
    right: 1px;
}

.block.block-note.horizontal.diminutive.diminutive-single .note-shift {
    bottom: 12px;
    right: 0px;
    font-size: 17px;
}

.block.block-note.horizontal.diminutive.diminutive-single .lyric {
    top: -64px;
    left: -21px;
}

.block.block-note.horizontal.next-single-dim .note {
    border-right-color: #ededed;
    padding-right: 15px;
}

.block.block-note.horizontal.prev-single-dim .note {
    border-left-color: #ededed;
    padding-left: 15px;
}

.block.block-note.horizontal .lyric {
    border-top: 1px solid #e5e5e5;
}

.block.block-newline.empty-line.horizontal {
    height: 69px;
}

.repeat.horizontal.repeat-begin .img-container {
    top: -68px;
    left: 10px;
}

.repeat.horizontal.repeat-end .img-container {
    top: -68px;
    left: -21px;
}

.repeat.horizontal.mark-empty .img-container {
    top: -19px;
}

.repeat.horizontal img {
    transform: rotate(-90deg);
}
