.badge {
    font-weight: normal;
    padding: 3px 3px 3px 5px;
}

.spinner {
    display: block;
    width: 64px;
    height: 64px;
    margin: 0 auto;
    padding-left: 10px;
    text-align: center;
}
.spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    
    border-radius: 50%;
    border: 5px solid #666666;
    border-color: #666666 transparent #666666 transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
  