<ng-template #githubDialog let-dismiss="dismiss">
  <div class="modal-header">
    GitHubから読込
    <button type="button" class="close" (click)="dismiss();">×</button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="loadRepository();">
      <div class="row">
        <div class="col-md-6">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">User 名</span>
            </div>
            <input type="text" class="form-control" name="username"
              placeholder="GitHub Username" [(ngModel)]="githubSettings.username">
          </div>
        </div>
        <div class="col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">レポ名</span>
              </div>
              <input type="text" class="form-control" name="repository"
                placeholder="Repository Name" [(ngModel)]="githubSettings.repository">
            </div>
        </div>
      </div>
      <div class="text-right" style="margin-top: 5px;">
        <button class="btn btn-sm btn-primary">更新</button>
      </div>
    </form>
    <hr>
    <div>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
            {{username}}
        </li>
        <li class="breadcrumb-item" [class.active]="!paths.length">
          <ng-container *ngIf="paths.length">
            <a href="javascript:void(0);" (click)="navigate(-1);">{{repositoryName}}</a>
          </ng-container>
          <ng-container *ngIf="!paths.length">{{repositoryName}}</ng-container>
        </li>
        <li *ngFor="let path of paths; let i = index" class="breadcrumb-item" [class.active]="i == paths.length - 1">
            <ng-container *ngIf="i < paths.length - 1">
              <a href="javascript:void(0);" (click)="navigate(i);">{{path}}</a>
            </ng-container>
            <ng-container *ngIf="i == paths.length - 1">{{path}}</ng-container>
        </li>
      </ol>
      <div *ngIf="loading" class="card card-default">
        <div class="card-body text-center">
          <div class="spinner">
          </div>
          読み込み中…
        </div>
      </div>
      <div *ngIf="!loading">
        <div *ngIf="!error">
            <div class="list-group">
              <a href="javascript:void(0);" (click)="goUp()" *ngIf="paths.length" class="list-group-item">
                ← 戻る
              </a>
              <a *ngFor="let item of items" href="javascript:void(0);" (click)="access(item);"
                title="この工工四を開く" class="list-group-item">
                <span *ngIf="item.type == 'dir'"><i class="fa fa-folder"></i></span>
                <span *ngIf="item.type == 'file'" class="badge badge-primary">四</span>
                {{item.name}}
                <a *ngIf="item.type == 'file'" href="javascript:void(0);" (click)="copyUrl($event, item);"
                  title="URLをコピー" class="float-right text-info">
                  <i class="fa fa-copy"></i>
                </a>
              </a>
            </div>
            <div *ngIf="!items.length" class="alert alert-warning">
              <i class="fa fa-folder-open"></i>
              このフォルダーは空です。
            </div>
        </div>
        <div *ngIf="error" class="alert alert-danger">
          <i class="fa fa-times-circle"></i>
          <strong>エラー発生：</strong>
          {{error}}
          <a href="javascript:void(0);" (click)="error = null;" class="close">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>