/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    margin-top: 56px;
}

body.vertical {
    overflow-y: hidden;
}

@media print {
    body.vertical {
        overflow-y: visible;
    }

    .no-print, .no-print * {
        display: none !important;
    }
}