/* You can add global styles to this file, and also import other style files */
body, * {
    font-family: 'Segoe UI', 'MS Gothic', 'Leelawadee UI'
}

body {
    margin-top: 56px;
}

body.vertical.edit {
    overflow-y: hidden;
}

@media print {
    @page {
        margin: 8mm 5mm;
    }

    body {
        margin: 0;
    }

    .no-print, .no-print * {
        visibility: hidden;
        display: none !important;
    }
}